nav {
  bottom: 0;
  /* left: 0; */
  /* right: 0; */
  /* top: 0; */
  /* position: absolute; */
  background-color: #5E17EB;
  height: 40px;
  text-align: left;
  /* width: 100vw; */
  z-index: 99;
  min-width: calc(100% + 2px)
}



.nav-link-home {
  color: white;
  text-decoration: none;
  margin-left: 60vw;
  font-family: "COM4t Fine Regular", sans-serif;
  font-size: 20px;
  
}
.nav-link
{
  color: white;
  text-decoration: none;
  margin-left: 5vw;
  font-family: "COM4t Fine Regular", sans-serif;
  font-size: 20px;
}

.pr-circle {
  height: 22vw ;
  width: 63vw;
  margin-top: 5%;
}

.heroes-villains{
  height: 15vw ;
  width: 18vw;
  margin-top: 12%;
  border: 2px solid white;
  margin-left: 35%;
}

@-webkit-keyframes heroes-villains {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes heroes-villains {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.heroes-villains:hover
{
  -webkit-animation: heroes-villains 1s ease;
  animation: heroes-villains 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.everywhen {
  height: 15vw ;
  width: 18vw;
  margin-top: 12%;
  border: 2px solid white;
  margin-left: 5%;
}

@-webkit-keyframes everywhen {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes everywhen {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.everywhen:hover
{
  -webkit-animation: everywhen 1s ease;
  animation: everywhen 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.habanero {
  height: 15vw ;
  width: 18vw;
  margin-top: 5%;
  border: 2px solid white;
  margin-left: 35%;
}

@-webkit-keyframes habanero {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes habanero {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.habanero:hover
{
  -webkit-animation: habanero 1s ease;
  animation: habanero 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.in-sequence {
  height: 15vw ;
  width: 18vw;
  margin-top: 5%;
  border: 2px solid white;
  margin-left: 5%;
}


@-webkit-keyframes in-sequence {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes in-sequence {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.in-sequence:hover
{
  -webkit-animation: in-sequence 1s ease;
  animation: in-sequence 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;

}

.projects-circle {
  grid-column: 1 / span 8;
  grid-row: 1; 
  padding-top: 15%; 
  z-index: 1;
  width: 240px;
}

.projects-imgs {
  grid-column: 4 / -1;
  grid-row: 1;
}


@media only screen and (max-device-width: 280px) {
  nav {
    height: 22px;
  }
  .nav-link-home {
    margin-left: 53vw;
    font-size: 20px;
  }
  .nav-link {
    margin-left: 7vw;
    font-size: 20px;
  }

  .pr-circle {
    height: 40vw ;
    width: 120vw;
    margin-top: 5%;
  }
  
  .projects-circle {
    grid-column: 4/ span 8;
    padding-top: 8%; 
    margin-left: 4%;
    margin-top: 13%;
  }

  .projects-imgs {
    grid-column: 3 / -1;
    grid-row: 1;
    margin-top: 42%;
    border: 2px solid white;
    height: 58vh;
    width: 153vw;
    margin-left: 2%;
  }

  .heroes-villains{
    height: 38vw;
    width: 41vw;
    margin-left: 20%;
    margin-top: 15%;
  }
  
  .everywhen {
    height: 38vw;
    width: 41vw;
  }
  
  .habanero {
    height: 38vw;
    width: 41vw;
    margin-left: 20%;
  }
  
  .in-sequence {
    height: 38vw;
    width: 41vw;
  }
  
  .projects-container {
    margin-top: 15%;
    width: 500px;
  }
 
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  nav {
    height: 23px;
  }
  .nav-link-home {
    margin-left: 35vw;
    font-size: 20px;
  }
  .nav-link {
    margin-left: 5vw;
    font-size: 20px;
  }

  .pr-circle {
    height: 30vw ;
    width: 90vw;;
    margin-top: 5%;
  }
  
  .projects-circle {
    grid-column: 3 / span 8;
    padding-top: 8%; 
    margin-left: 8%;
    margin-top: 13%;
  }

  .projects-imgs {
    grid-column: 3 / -1;
    grid-row: 1;
    margin-top: 40%;
    border: 2px solid white;
    height: 48vh;
    width: 95vw;
    margin-left: 4%;
  }

  .heroes-villains{
    height: 25vw;
    width: 28vw;
    margin-left: 17%;
    margin-top: 15%;
  }
  
  .everywhen {
    height: 25vw;
    width: 28vw;
  }
  
  .habanero {
    height: 25vw;
    width: 28vw;
    margin-left: 17%;
  }
  
  .in-sequence {
    height: 25vw;
    width: 28vw;
  }
  
  .projects-container {
    margin-top: 15%;
    width: 500px;
  }
  
  
}

@media only screen and (min-device-width: 540px) {
  nav {
    height: 23px;
  }
  .nav-link-home {
    margin-left: 33vw;
    font-size: 20px;
  }
  .nav-link {
    margin-left: 5vw;
    font-size: 20px;
  }

  .pr-circle {
    height: 30vw ;
    width: 90vw;;
    margin-top: 5%;
  }
  
  .projects-circle {
    grid-column: 3 / span 8;
    padding-top: 8%; 
    margin-left: 4%;
    margin-top: 13%;
  }

  .projects-imgs {
    grid-column: 3 / -1;
    grid-row: 1;
    margin-top: 48%;
    border: 2px solid white;
    height: 60vh;
    width: 82vw;
    margin-left: 4%;
  }

  .heroes-villains{
    height: 25vw;
    width: 28vw;
    margin-left: 12%;
    margin-top: 15%;
  }
  
  .everywhen {
    height: 25vw;
    width: 28vw;
  }
  
  .habanero {
    height: 25vw;
    width: 28vw;
    margin-left: 12%;
  }
  
  .in-sequence {
    height: 25vw;
    width: 28vw;
  }
  
  .projects-container {
    margin-top: 15%;
    width: 500px;
  }
}

@media only screen and (min-device-width: 768px) {
  nav {
    height: 25px;
  }
  .nav-link-home {
    margin-left: 25vw;
    font-size: 25px;
  }
  .nav-link {
    margin-left: 5vw;
    font-size: 25px;
  }

.pr-circle {
  height: 20vw ;
  width: 60vw;
  margin-top: 5%;
}

.heroes-villains{
  height: 15vw ;
  width: 18vw;
  margin-top: 12%;
  border: 2px solid white;
  margin-left: 35%;

}

.habanero {
  height: 15vw ;
  width: 18vw;
  margin-top: 5%;
  border: 2px solid white;
  margin-left: 35%;
}

.everywhen {
  height: 15vw ;
  width: 18vw;
  margin-top: 12%;
  border: 2px solid white;
  margin-left: 5%;

}

.in-sequence {
  height: 15vw ;
  width: 18vw;
  margin-top: 5%;
  border: 2px solid white;
  margin-left: 5%;

}

.projects-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;

}

.projects-circle {
  grid-column: 1 / span 8;
  grid-row: 1; 
  padding-top: 15%; 
  z-index: 1;
  width: 0px;
}

.projects-imgs {
  grid-column: 4 / -1;
  grid-row: 1;
  margin-top: 0%;
  border: 0;
  margin-left: 4%;
  overflow: none;
}

}

@media only screen and (min-device-width: 1024px) {
  nav {
    height: 25px;
  }
  .nav-link-home {
    margin-left: 32vw;
    font-size: 25px;
  }
  .nav-link {
    margin-left: 4vw;
    font-size: 25px;
  }

  .pr-circle {
    height: 20vw ;
    width: 60vw;
    margin-top: 5%;
  }
  
  .heroes-villains{
    height: 15vw ;
    width: 18vw;
    margin-top: 12%;
    border: 2px solid white;
    margin-left: 45%;
  }
  
  .habanero {
    height: 15vw ;
    width: 18vw;
    margin-top: 5%;
    border: 2px solid white;
    margin-left: 45%;
  }
  
  .projects-circle {
    padding-top: 28%; 
  }
  
  .projects-imgs {
    margin-top: 0%;
  }
}


@media only screen and (min-width: 494px) {
  nav {
    height: 23px;
  }
  .nav-link-home {
    margin-left: 20vw;
    font-size: 20px;
  }
  .nav-link {
    margin-left: 5vw;
    font-size: 20px;
  }
}


@media only screen and (min-width: 1224px) {
  nav {
    height: 30px;
  }
  .nav-link-home {
    margin-left: 34vw;
    font-size: 25px;
  }
  .nav-link {
    margin-left: 4vw;
    font-size: 25px;
  }

  .pr-circle {
    height: 20vw ;
    width: 60vw;
    margin-top: 5%;
  }
  
  .heroes-villains{
    height: 15vw ;
    width: 18vw;
    margin-left: 45%;
  
  }
  
  .habanero {
    height: 15vw ;
    width: 18vw;
    margin-left: 45%;
  }
  
  .projects-circle {
    padding-top: 28%; 
  }
  
  .projects-imgs {
    margin-top: 2%;
  }

}


@media only screen and (min-width: 1440px) {
  nav {
    height: 30px;
  }
  .nav-link-home {
    margin-left: 34vw;
    font-size: 25px;
  }
  .nav-link {
    margin-left: 4vw;
    font-size: 25px;
  }

  .pr-circle {
    height: 20vw ;
    width: 60vw;
    margin-top: 5%;
  }
  
  .heroes-villains{
    height: 15vw ;
    width: 18vw;
    margin-left: 45%;
  
  }
  
  .habanero {
    height: 15vw ;
    width: 18vw;
    margin-left: 45%;
  }
  
  .projects-circle {
    padding-top: 38%; 
  }
  
  .projects-imgs {
    margin-top: 0%;
  }
}