nav {
  bottom: 0;
  left: 0;
  position: absolute;
  background: black;
  height: 30px;
  text-align: left;
  width: 100vw;
  z-index: 99;
}
.nav-link-home {
  color: white;
  text-decoration: none;
  margin-left: 60vw;
  font-family: "COM4t Fine Regular", sans-serif;
  font-size: 20px;
}
.nav-link
{
  color: white;
  text-decoration: none;
  margin-left: 5vw;
  font-family: "COM4t Fine Regular", sans-serif;
  font-size: 20px;
}

.pr-circle {
  height: 22vw ;
  width: 64vw;
  margin-top: 5%;
}

.heroes-villains{
  height: 15vw ;
  width: 18vw;
  margin-top: 12%;
  border: 2px solid white;
  margin-left: 35%;

}

.everywhen {
  height: 15vw ;
  width: 18vw;
  margin-top: 12%;
  border: 2px solid white;
  margin-left: 5%;

}

.habanero {
  height: 15vw ;
  width: 18vw;
  margin-top: 5%;
  border: 2px solid white;
  margin-left: 35%;

}

.in-sequence {
  height: 15vw ;
  width: 18vw;
  margin-top: 5%;
  border: 2px solid white;
  margin-left: 5%;

}

.projects-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;

}

.projects-circle {
  grid-column: 1 / span 8;
  grid-row: 1; 
  padding-top: 15%; 
  z-index: 1
}

.projects-imgs {
  grid-column: 4 / -1;
  grid-row: 1;
}


@media only screen and (max-device-width: 280px) {
 
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
 
}

@media only screen and (min-device-width: 540px) {
 
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  
}

@media only screen and (min-width: 1224px) {
 
}
