nav {
  bottom: 0;
  left: 0;
  position: absolute;
  background: black;
  height: 30px;
  text-align: left;
  width: 100vw;
  z-index: 99;
}
.nav-link-home {
  color: white;
  text-decoration: none;
  margin-left: 60vw;
  font-family: "COM4t Fine Regular", sans-serif;
  font-size: 20px;
}
.nav-link
{
  color: white;
  text-decoration: none;
  margin-left: 5vw;
  font-family: "COM4t Fine Regular", sans-serif;
  font-size: 20px;
}


@media only screen and (max-device-width: 280px) {
 
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
 
}

@media only screen and (min-device-width: 540px) {
 
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  
}

@media only screen and (min-width: 1224px) {
 
}
