.img-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.about-c-top {
  grid-row: 1;
  grid-column: 1 / span 2;
  padding-top: 70%; 
  z-index: 1;
}

 .abt-img {
  height: 29vw;
  width: 28vw;
  margin-top: 0%;
  margin-left: 70%;
 }

 .about-blurb-title {
  margin-left: 30vw;
  margin-top:-2%;
  margin-bottom: 8%;
  /* text-decoration: underline; */
  font-size: 2vw;
  font-family: "COM4t Fine Regular", sans-serif;
 }
 
 .about-c-bottom {
  align-self: center;
  padding: 3em;
  width: 53vw;
  height: 23vw;
  margin-top: 12%;
  margin-left: 18%;
  grid-column: 2 / -1;
  grid-row: 1;
  margin-bottom: 8%;
  border: 2px solid black;
 }

 .abt-text {
   color: black;
   margin-left: 28%;
   margin-top: 3%; 
   font-family: "COM4t Fine Regular", sans-serif;
   letter-spacing: 0.1em;
   font-size: 1.3vw ;
 }


 .read-link {
  margin-left: 57%;
  margin-top: 4%;
  margin-bottom: 1%;
  font-family: "COM4t Fine Regular", sans-serif;
  /* text-decoration: none; */
  text-decoration: underline;
  font-weight:  bold;
  font-size: 1.3vw ;
 }

 .read-link:hover {
  color:  #FFD000; 
 }

 @media only screen and (max-width: 768px) {
   .abt-text {
      margin-top: 0%;
   }
   .about-c-bottom {
    margin-left: 10%;
   }
   .abt-img {
     margin-top: 25%;
   }
 }