/* body {
  background-image: url('https://i.imgur.com/VUKACOn.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* body {
  background-image: url('https://i.imgur.com/6FfY41w.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: black;
} */
  h3 {
   color: white;
   font-size: 50px;
 }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  
}

@media only screen and (min-device-width: 540px) {
  
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  
}

@media only screen and (min-width: 1224px) {
  
}
