.contact-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.contact-me {
  color: white;
  font-size: 35px ;
  font-family: "COM4t Fine Regular", sans-serif;
  font-weight: lighter;
  margin-top: 2%;
  margin-left: 47%;
}

.my-email {
  color: white;
  font-size: 20px ;
  font-family: "COM4t Fine Regular", sans-serif;
  margin-left: 45%;
  font-weight: bold;
  margin-top: 15%;
  margin-bottom: 10%;
}

.contact-img {
  height: 22vw ;
  width: 64vw;
  margin-top: 10%;
}

.contact-circle {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 5%; 
  z-index: 1;
}

.form-container{
  align-self: center;
  padding: 3em;
  width: 55vw;
  height: 30vw;
  margin-top: 7%;
  margin-left: 25%;
  border: 2px solid white;
  grid-column: 2 / -1;
  grid-row: 1;
  padding-bottom: 5em;
}
.contact-form {
  align-self: center;
  padding: 1em;
  width: 50%;
  height: 50%;
  margin-left: 45%;
  margin-top: 2%;
 

}

::placeholder {
  color:white;
  font-family: "COM4t Fine Regular", sans-serif;
  font-weight: bold;
}

.inputs {
  background-color: black;
  width: 230px;
  color:white;
  height:25px;;
  padding: 0.3em 1em;
  font-size: 1rem;
  border-radius: 3px;
  margin-left: 5%;
  margin-top: 8%;
  border: 2px solid #FFD000;
}

textarea {
  background-color: black;
  width: 234px;
  color:white;
  height: 70px;;
  padding: 0.3em 1em;
  font-size: 1rem;
  border-radius: 3px;
  margin-left: 5%;
  margin-top: 8%;
  border: 2px solid #FFD000;
}


.btn {
  width: 20%;
  height: 25px;
  background: #FFD000;
  border-radius: 10px;
  color: black;
  margin-top: 5%;
  margin-left: 55%;
  font-family: "COM4t Fine Regular", sans-serif;
  font-weight: bold;
}