/* body {
  background-image: url('https://i.imgur.com/PTvFm8L.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} */

body{
  background-color: black;

}
/* .name {
  color: white;
  font-size: 10px;

}

.title {
  color: white;
  font-size: 10px;
} */

.home-img {
  height: 35vw ;
  width: 103vw;
  margin-top: 5%;

}

.indicator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
  transform: rotate(45deg);
  margin-top: 4%;
  margin-left: 50%;
}

.indicator Link {
	line-height: 1em;
	display: inline-block;
	color: white;
	text-shadow: 0 1px 8px rgba(0,0,0,0.5);
	transition: all 0.2s ease;
}

.indicator span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border: none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  animation: animate 1s linear infinite;
}

.indicator span:nth-child(1) {
  top: -30px; 
  left: -30px;
  animation-delay: 0s;
}
.indicator span:nth-child(2) {
  top: -15px; 
  left: -15px;
  animation-delay: 0.2s;
}
.indicator span:nth-child(3) {
  top: 0px; 
  left: 0px;
  animation-delay: 0.4s;
}

@keyframes animate {
  0% {
    border-color: #fff;
    transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    transform: translate(15px, 15px);
  }
  200.1%, 100% {
    border-color: #222;
  }
}

@media only screen and (max-device-width: 280px) {
 
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
 
}

@media only screen and (min-device-width: 540px) {
 
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  
}

@media only screen and (min-width: 1224px) {
 
}
