.contact {
  display: flex;
  flex-flow: column wrap;
  padding: 2vh 0 2vh 0;
  color: black;
  border-top: 1px solid black
}

.contact-header {
  font-size: 2.5rem;
  margin: 0 auto;
  padding: 1vh 0 1vh 0;
  font-family: "COM4t Fine Regular", sans-serif;
}

.contact-icons {
  font-size: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.email,
.linkedin,
.github {
  padding: 2px;
  border: none;
  border-radius: 30px;
  width: 50px;
  align-self: center;
}

.icons {
  color: #FFD000;
}

.email:hover,
.linkedin:hover,
.github:hover {
  background: #303947;
}