.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  bottom: 0;
  left: 0;
  position: absolute;
  background: pink;
  border-bottom: 3px solid #04c2c9;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}