.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.about-circle-top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 5%; 
  z-index: 1;
}

 .about-img {
  height: 22vw ;
  width: 64vw;
  margin-top: 10%;
 }
 
 .about-container-bottom {
  align-self: center;
  padding: 3em;
  width: 55vw;
  height: 30vw;
  margin-top: 7%;
  margin-left: 25%;
  border: 2px solid white;
  grid-column: 2 / -1;
  grid-row: 1;
 }

 .about-text {
   color: white;
   margin-left: 30%;
   margin-top: 2%; 
   font-family: "COM4t Fine Regular", sans-serif;
   letter-spacing: 0.1em;
   font-size: 17px ;
 }

 button {
  background-color: #FFD000;
  margin-left: 85%;
  margin-top: 1%;
  padding: 0.6em;
  width: 90px;
  border-radius: 15px;
  font-family: "COM4t Fine Regular", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 15px ;
 }

 h4 {
  color: white;
  margin-left: 30%;
  margin-top: 6%;
  margin-bottom: 1%;
  font-family: "COM4t Fine Regular", sans-serif;
  font-size: 17px ;

 }
 

 .section-line {
  background-color: #fff;
  height: 1px;
  width: 16vw;
  margin: 1vh auto 4vh;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 30%;
 }

 .languages-container {
  display: grid;
  grid-template-areas: "1 2 3 4";
  padding: 2vh 0;
  grid-column-gap: 2vw;
  column-gap: 2vw;
  grid-row-gap: 2vh;
  row-gap: 2vh;
  margin-bottom: 54%;
  margin-left: 24%;
 }


.language-div {
  font-size: 1.5rem;
  padding: 1vh 1vw 1vh 1vw;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 16px;
  font-family: "COM4t Fine Regular", sans-serif;
  font-weight: bold;
}

.language-icon {
  padding: 1px;
  font-size: 1.5rem;
}

.btn-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.resume-div {
  grid-column: 1 / span 8;
  grid-row: 1; 
  padding-top: 0%; 
  z-index: 1; 
  width: 220px;
  margin-left: 20%;
}

.my-git {
  grid-column: 8 / 8;
  grid-row: 1; 
  padding-top: 2%;
  font-size: 35px;
  /* margin-left: 50%; */
}

.p-github {
  color: #FFD000;
}


.my-linkedin {
  padding-top: 2%;
  font-size: 35px;
  /* margin-left: 75%; */
}

.p-linked {
  color: #FFD000;
}




@media only screen and (max-device-width: 280px) {
  .about-circle-top {
    grid-column: 7 / span 8;
    padding-top: 20%; 
  }
  
   .about-img {
    height: 40vw;
    width: 120vw;
    margin-top: 35%;
   }
  
   .about-container-bottom {
    padding: 0;
    width: 165vw;
    height: 155vw;
    margin-top: 55%;
    grid-column: 1 / -1;
    grid-row: 1;
   }
  
   .about-text {
     color: white;
     margin-left: 5%;
     margin-top: 13%; 
     font-size: 13px ;
   }
  
   button {
    margin-left: 40%;
    margin-top: 1%;
    width: 80px;
    font-size: 12px ;
   }
  
   h4 {
    margin-left: 30%;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 15px ;
  
   }
   
  
   .section-line {
    width: 45vw;
   }
  
   .languages-container {
    padding: 2vh 0;
    grid-column-gap: 1vw;
    column-gap: 1vw;
    grid-row-gap: 1vh;
    row-gap: 1vh;
    margin-bottom: 54%;
    margin-left: 0%;
   }
  
  
  .language-div {
    font-size: 1.5rem;
    font-size: 13px;
  }
  
  .language-icon {
    padding: 1px;
    font-size: 1.2rem;
  }
  
}


@media only screen and (min-device-width: 320px) and (max-device-width: 400px) {

  .about-circle-top {
    grid-column: 5 / span 8;
    padding-top: 5%; 
  }
  
   .about-img {
    height: 30vw ;
    width: 90vw;
    margin-top: 25%;
   }
  
   .about-container-bottom {
    padding: 0;
    width: 102vw;
    height: 125vw;
    margin-top: 43%;
    grid-column: 1 / -1;
    grid-row: 1;
   }
  
   .about-text {
     color: white;
     margin-left: 5%;
     margin-top: 13%; 
     font-size: 13px;
   }
  
   button {
    margin-left: 40%;
    margin-top: 1%;
    width: 80px;
    font-size: 12px ;
   }
  
   h4 {
    margin-left: 30%;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 15px ;
  
   }
   
  
   .section-line {
    width: 45vw;
   }
  
   .languages-container {
    padding: 2vh 0;
    grid-column-gap: 1vw;
    column-gap: 1vw;
    grid-row-gap: 1vh;
    row-gap: 1vh;
    margin-bottom: 54%;
    margin-left: 0%;
   }
  
  
  .language-div {
    font-size: 1.5rem;
    font-size: 13px;
  }
  
  .language-icon {
    padding: 1px;
    font-size: 1.2rem;
  }
}

@media only screen and (min-device-width: 411px) {
  .about-circle-top {
    grid-column: 4 / span 8;
    padding-top: 5%; 
  }
  
   .about-img {
    height: 30vw ;
    width: 90vw;
    margin-top: 20%;
   }
  
   .about-container-bottom {
    padding: 0;
    width: 102vw;
    height: 115vw;
    margin-top: 38%;
    grid-column: 1 / -1;
    grid-row: 1;
    margin-left: 18%;
   }
  
   .about-text {
     color: white;
     margin-left: 5%;
     margin-top: 13%; 
     font-size: 13px ;
   }
  
   button {
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 80px;
    font-size: 12px ;
   }
  
   h4 {
    margin-left: 30%;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 15px ;
  
   }
   
  
   .section-line {
    width: 40vw;
   }
  
   .languages-container {
    padding: 2vh 0;
    grid-column-gap: 1vw;
    column-gap: 1vw;
    grid-row-gap: 1vh;
    row-gap: 1vh;
    margin-bottom: 54%;
    margin-left: 0%;
   }
  
  
  .language-div {
    font-size: 1.5rem;
    font-size: 13px;
  }
  
  .language-icon {
    padding: 1px;
    font-size: 1.2rem;
  }
  
}

@media only screen and (min-device-width: 494px) {
  .about-circle-top {
    grid-column: 2 / span 8;
    padding-top: 5%; 
  }
  
   .about-img {
    height: 30vw ;
    width: 90vw;
    margin-top: 20%;
   }
  
   .about-container-bottom {
    padding: 0;
    width: 85vw;
    height: 95vw;
    margin-top: 38%;
    grid-column: 1 / -1;
    grid-row: 1;
    margin-left: 7%;
   }
  
   .about-text {
     color: white;
     margin-left: 5%;
     margin-top: 13%; 
     font-size: 13px ;
   }
  
   button {
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 80px;
    font-size: 12px ;
   }
  
   h4 {
    margin-left: 30%;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 15px ;
  
   }
   
  
   .section-line {
    width: 32vw;
   }
  
   .languages-container {
    padding: 2vh 0;
    grid-column-gap: 1vw;
    column-gap: 1vw;
    grid-row-gap: 1vh;
    row-gap: 1vh;
    margin-bottom: 54%;
    margin-left: 0%;
   }
  
  
  .language-div {
    font-size: 1.5rem;
    font-size: 13px;
  }
  
  .language-icon {
    padding: 1px;
    font-size: 1.2rem;
  }
}

@media only screen and (min-device-width: 540px) {
  .about-circle-top {
    grid-column: 3 / span 8;
    padding-top: 5%; 
    height: 300px;
  }
  
   .about-img {
    height: 30vw ;
    width: 90vw;
    margin-top: 20%;
   }
  
   .about-container-bottom {
    padding: 0;
    width: 85vw;
    height: 88vw;
    margin-top: 38%;
    grid-column: 1 / -1;
    grid-row: 1;
    margin-left: 16%;
   }
  
   .about-text {
     color: white;
     margin-left: 5%;
     margin-top: 13%; 
     font-size: 13px ;
   }
  
   .resume-div {
     width: 50px;
     margin-top: 1%;
   }

   button {
    margin-left: 15%;
    margin-top: 6%;
    margin-bottom: 3%;
    width: 80px;
    font-size: 12px ;
   }

   .my-git {
    margin-left:5%;
    grid-column: 7 / 8;
   }

   .my-linkedin {
    margin-left: 140%;
   }
  
   h4 {
    margin-left: 30%;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 15px ;
  
   }
   
  
   .section-line {
    width: 32vw;
   }
  
   .languages-container {
    padding: 2vh 0;
    grid-column-gap: 1vw;
    column-gap: 1vw;
    grid-row-gap: 1vh;
    row-gap: 1vh;
    margin-bottom: 54%;
    margin-left: 0%;
   }
  
  
  .language-div {
    font-size: 1.5rem;
    font-size: 13px;
  }
  
  .language-icon {
    padding: 1px;
    font-size: 1.2rem;
  }
  
}

@media only screen and (min-device-width: 600px) {
  
  .about-circle-top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 5%; 
    z-index: 1;
  }
  
   .about-img {
    height: 22vw ;
    width: 64vw;
    margin-top: 10%;
   }
  
   .about-container-bottom {
    align-self: center;
    padding: 3em;
    width: 55vw;
    height: 30vw;
    margin-top: 7%;
    margin-left: 25%;
    border: 2px solid white;
    grid-column: 2 / -1;
    grid-row: 1;
    overflow: scroll;
   }
  
   .about-text {
     color: white;
     margin-left: 30%;
     margin-top: 2%; 
     font-family: "COM4t Fine Regular", sans-serif;
     letter-spacing: 0.1em;
     font-size: 17px ;
   }
  
   button {
    background-color: #FFD000;
    margin-left: 85%;
    margin-top: 1%;
    padding: 0.6em;
    width: 90px;
    border-radius: 15px;
    font-family: "COM4t Fine Regular", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 15px ;
   }
  
   h4 {
    color: white;
    margin-left: 30%;
    margin-top: 4%;
    margin-bottom: 1%;
    font-family: "COM4t Fine Regular", sans-serif;
    font-size: 17px ;
  
   }
   
  
   .section-line {
    background-color: #fff;
    height: 1px;
    width: 16vw;
    margin: 1vh auto 4vh;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: 30%;
   }
  
   .languages-container {
    display: grid;
    grid-template-areas: "1 2 3 4";
    padding: 2vh 0;
    grid-column-gap: 2vw;
    column-gap: 2vw;
    grid-row-gap: 2vh;
    row-gap: 2vh;
    margin-bottom: 54%;
    margin-left: 24%;
   }
  
  
  .language-div {
    font-size: 1.5rem;
    padding: 1vh 1vw 1vh 1vw;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 16px;
    font-family: "COM4t Fine Regular", sans-serif;
    font-weight: bold;
  }
  
  .language-icon {
    padding: 1px;
    font-size: 1.5rem;
  }

}
@media only screen and (min-device-width: 768px) {
 
   .about-img {
    height: 22vw ;
    width: 64vw;
    margin-top: 10%;
   }
  
   .about-container-bottom {
    width: 50vw;
    overflow: scroll;
   }
  
   button {
    margin-left: 50%;
   }
  
   h4 {
    margin-left: 32%;
    margin-top: 4%;
   }
   
  
   .section-line {
    width: 24vw;
    margin-left: 32%;
   }

   .btn-stack {
    margin-left: 15%;
  }
   button {
    margin-left: 90%;
   }

   .my-git {
    margin-left: 120%;
   }

   .my-linkedin {
    margin-left: 140%;
   }
 
}

@media only screen and (min-device-width: 1024px) { 
  
   .about-container-bottom {
    width: 53vw;
    height: 32vw;
   }

   .section-line {
    width: 18vw;
    margin-left: 32%;
   }


   .btn-stack {
     margin-left: 20%;
   }

   button {
    margin-left: 82%;
   }

   .my-git {
    margin-left: 75%;
   }

   .my-linkedin {
    margin-left: 140%;
   }
  
} 

@media only screen and (min-width: 1224px) {
  button {
    margin-left: 85%;
   }

   .my-git {
    margin-left: 63%;
   }

   .my-linkedin {
    margin-left: 140%;
   }

   .section-line {
    width: 15vw;
    margin-left: 29%;
   }
  
   h4 {
    margin-left: 29%;
   }
}

@media only screen and (min-width: 1440px) {
  button {
    margin-left: 95%;
   }

   .my-git {
    margin-left: 60%;
   }

   .my-linkedin {
    margin-left: 140%;
   }

   .section-line {
    width: 13vw;
   }

}
