@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&family=Saira+Semi+Condensed:wght@100&display=swap');
 
 .about-container {
  display: flex; 
}

.aboutscreen-title {
  font-family: 'Cinzel', serif;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 2vw;
  margin-top: 7%;
  margin-bottom: 5%;
  text-align: center;
  margin-left: 2vw;
}

.about-img-div {
  margin-left: 10%;
  margin-top: 10%;
  padding-top: 5%; 
}

 .about-img {
  height: 25vw ;
  width: 25vw;
  
 }
 
 .about-text-container{
  align-self: center;
  width: 60vw;
  height: 38vw;
  margin-top: 10%;
  margin-right: 10%;
  margin-bottom: 7%;
 }

 .about-text {
   color: black;
   margin-left: 3vw;
   font-family: 'Playfair Display', serif;
   letter-spacing: 0.1em;
   font-size: 1.1vw ;
 }

 button {
  background-color: black;
  margin-top: 1%;
  padding: 0.6em;
  width: 8vw;
  border-radius: 5px;
  font-family: 'Playfair Display', serif;
  color: white;
  font-weight: bold;
  font-size: 1.1vw ;
 }

 button:hover {
  background-color: white;
  color: black;
 }


.resume-btn-div {
  margin-left: 24vw;
}



