.everywhen-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.everywhen-img {
  grid-column: 3 / span 8;
  grid-row: 1; 
  padding-top: 5%; 
  z-index: 1;
  margin-left: 5%;
  padding-top: 13%; 
  width: 240px;
}

.everywhen-detail-img {
  height: 23vw ;
  width: 23vw;
  margin-top: 12%;
  border: 2px solid white;
  border-radius: 165px;
}

.everywhen-text-container {
  align-self: center;
  padding: 3em;
  width: 55vw;
  height: 23vw;
  margin-top: 10%;
  margin-left: 8%;
  border: 2px solid white;
  grid-column: 4 / -1;
  grid-row: 1

}

.everywhen-title {
  color: white;
  font-size: 35px ;
  font-family: "COM4t Fine Regular", sans-serif;
  font-weight: lighter;
  margin-top: 2%;
  margin-left: 40%;
}

.everywhen-details {
  color: white;
  margin-left: 27%;
  margin-top: 6%; 
  font-family: "COM4t Fine Regular", sans-serif;
  letter-spacing: 0.1em;
  font-size: 17px ;
}

.everywhen-btn-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  position: relative;
  margin-top: 7%;
}

.everywhen-site {
  grid-column: 1 / span 8;
  grid-row: 1; 
  padding-top: 0%; 
  z-index: 1
}

.e-github {
  grid-column: 1 / -5;
  grid-row: 1;
}




@media only screen and (max-device-width: 280px) {
  
  .everywhen-img {
    grid-column: 12 / span 8;
  }
  
  .everywhen-detail-img {
    height: 40vw;
    width: 40vw;
    margin-top: 5%;
  }
  
  .everywhen-text-container {
    align-self: center;
    padding: 3em;
    width: 120vw;
    height: 83vw;
    margin-top: 45%;
  }
  
  .everywhen-title {
    margin-top: 5%;
    margin-left: 28%;
  }
  
  .everywhen-details {
    margin-left: 7%;
    margin-top: 7%; 
  }
  
  .e-github {
    grid-column: 10 / -5;
  }
  
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .everywhen-img {
    grid-column: 8 / span 8;
  }
  
  .everywhen-detail-img {
    height: 30vw ;
    width: 30vw;
  }
  
  .everywhen-text-container {
    align-self: center;
    padding: 3em;
    width: 75vw;
    height: 50vw;
    margin-top: 50%;
    margin-left: 0%;
  }
  
  .everywhen-title {
    margin-top: 5%;
    margin-left: 33%;
    font-size: 20px;
  }
  
  .everywhen-details {
    margin-left: 4%;
    margin-top: 7%; 
    font-size: 13px;
  }
  
  .e-github {
    grid-column: 10 / -5;
  }
}

@media only screen and (min-device-width: 494px) {
  .everywhen-img {
    grid-column: 6 / span 8;
  }
  
  .everywhen-detail-img {
    height: 30vw ;
    width: 30vw;
  }
  
  .everywhen-text-container {
    width: 65vw;
    height: 47vw;
    margin-top: 47%;
    margin-left: 0%;
    grid-column: 3 / -1;
    overflow: scroll;
  }
  
  .everywhen-title {
    margin-top: 5%;
    margin-left: 28%;
  }
  
  .everywhen-details {
    margin-left: 8%;
    margin-top: 7%; 
  }
  
  .e-github {
    grid-column: 10 / -5;
  }
}

@media only screen and (min-device-width: 540px) {
  .everywhen-img {
    grid-column: 6 / span 8;
  }
  
  .everywhen-detail-img {
    height: 30vw ;
    width: 30vw;
  }
  
  .everywhen-text-container {
    width: 65vw;
    height: 47vw;
    margin-top: 47%;
    margin-left: 0%;
    grid-column: 3 / -1;
  }
  
  .everywhen-title {
    margin-top: 5%;
    margin-left: 28%;
  }
  
  .everywhen-details {
    margin-left: 0%;
    margin-top: 7%; 
  }
  
}

@media only screen and (min-device-width: 768px) {
  .everywhen-img {
    grid-column: 3 / span 8;
    margin-top: 40%;
    margin-left: 0%;
  }
  
  .everywhen-detail-img {
    height: 25vw ;
    width: 25vw;
    margin-left: 0%;
  }
  
  .everywhen-text-container {
    width: 48vw;
    height: 32vw;
    margin-top: 40%;
    margin-left: 20%;
    grid-column: 3 / -1;
  }
  
  .everywhen-title {
    margin-top: 5%;
    margin-left: 35%;
  }
  
  .everywhen-details {
    margin-left: 12%;
    margin-top: 7%; 
  }
  
  .everywhen-btn-container {
    margin-top: 10%;
  }
}

 @media only screen and (min-device-width: 1024px) {
  .everywhen-img {
    margin-top: 5%;
  }
  
  .everywhen-detail-img {
    height: 22vw ;
    width: 22vw;
  }
  
  .everywhen-text-container {
    height: 25vw;
    margin-top: 15%;
    margin-left: 15%;
    grid-column: 3 / -1;
  }
  
  .everywhen-title {
    margin-left: 40%;
  }
  
  .everywhen-details {
    margin-left: 18%;
  }
  
  .everywhen-btn-container {
    margin-top: 8%;
  }
}

@media only screen and (min-width: 1224px) {
  .everywhen-img {
    margin-top: 5%;
  }
  
  .everywhen-detail-img {
    height: 22vw ;
    width: 22vw;
  }
  
  .everywhen-text-container {
    width: 52vw;
    height: 23vw;
    margin-top: 12%;
  }
  
  .everywhen-title {
    margin-left: 45%;
  }
  
  .everywhen-details {
    margin-left: 18%;
  }
  
  .everywhen-btn-container {
    margin-top: 8%;
  }

  .everywhen-site {
    grid-column: 2 / span 8;
  }
  .e-github {
    grid-column: 9 / -5;
  }
}

@media only screen and (min-width: 1440px) {
  .everywhen-detail-img {
    height: 20vw;
    width: 20vw;
    margin-left: 15%;
  }
  
  .everywhen-text-container {
    width: 52vw;
    height: 20vw;
    margin-top: 12%;
  }
  
  .everywhen-title {
    margin-left: 45%;
  }
  
  .everywhen-details {
    margin-left: 18%;
  }

   .everywhen-btn-container {
    margin-top: 8%;
  }
  .everywhen-site {
    grid-column: 3 / span 8;
  }
}