.habanero-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.habanero-img {
  grid-column: 3 / span 8;
  grid-row: 1; 
  padding-top: 5%; 
  z-index: 1;
  margin-left: 5%;
  padding-top: 13%; 
  width: 240px;
}

.habanero-detail-img {
  height: 23vw ;
  width: 23vw;
  margin-top: 12%;
  border: 2px solid white;
  border-radius: 165px;
}

.habanero-text-container {
  align-self: center;
  padding: 3em;
  width: 55vw;
  height: 23vw;
  margin-top: 10%;
  margin-left: 8%;
  border: 2px solid white;
  grid-column: 4 / -1;
  grid-row: 1

}

.habanero-title {
  color: white;
  font-size: 35px ;
  font-family: "COM4t Fine Regular", sans-serif;
  font-weight: lighter;
  margin-top: 2%;
  margin-left: 40%;
}

.habanero-details {
  color: white;
  margin-left: 27%;
  margin-top: 6%; 
  font-family: "COM4t Fine Regular", sans-serif;
  letter-spacing: 0.1em;
  font-size: 17px ;
}

.habanero-btn-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  position: relative;
  margin-top: 7%;
}

.habanero-site {
  grid-column: 1 / span 8;
  grid-row: 1; 
  padding-top: 0%; 
  z-index: 1
}

.habanero-github {
  grid-column: 1 / -5;
  grid-row: 1;
}

@-webkit-keyframes habanero-github {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes habanero-github {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.habanero-github:hover
{
  -webkit-animation: habanero-github 1s ease;
  animation: habanero-github 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes hab-site {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes hab-site {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.hab-site:hover
{
  -webkit-animation: hab-site 1s ease;
  animation: hab-site 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


@media only screen and (max-device-width: 280px) {

  .habanero-img {
    grid-column: 12 / span 8;
  }
  
  .habanero-detail-img {
    height: 40vw;
    width: 40vw;
    margin-top: 5%;
  }
  
  .habanero-text-container {
    align-self: center;
    padding: 3em;
    width: 120vw;
    height: 118vw;
    margin-top: 45%;
  }
  
  .habanero-title {
    margin-top: 5%;
    margin-left: 1%;
  }
  
  .habanero-details {
    margin-left: 7%;
    margin-top: 7%; 
  }
  
  .habanero-github {
    margin-left: 85%;
    margin-top: 0%;
    font-size: 35px;
  }

  .hab-site {
    color: #FFD000;
    font-size: 35px;
    margin-top: 2%;
    margin-left: 50%;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .habanero-img {
    grid-column: 8 / span 8;
  }
  
  .habanero-detail-img {
    height: 30vw;
    width: 30vw;
  }
  
  .habanero-text-container {
    align-self: center;
    padding: 3em;
    width: 75vw;
    height: 77vw;
    margin-top: 50%;
    margin-left: 0%;
  }
  
  .habanero-title {
    margin-top: 5%;
    margin-left: 33%;
    font-size: 20px;
  }
  
  .habanero-details {
    margin-left: 4%;
    margin-top: 7%; 
    font-size: 13px;
  }

  .habanero-github {
    margin-left: 85%;
    font-size: 35px;
  }

  .hab-site {
    font-size: 35px;
    margin-top: 2%;
    margin-left: 50%;
    color: #FFD000;
  }
}

@media only screen and (min-device-width: 494px) {
  .habanero-img {
    grid-column: 6 / span 8;
  }
  
  .habanero-detail-img {
    height: 30vw;
    width: 30vw;
  }
  
  .habanero-text-container {
    width: 65vw;
    height: 47vw;
    margin-top: 47%;
    margin-left: 0%;
    grid-column: 3 / -1;
    overflow: scroll;
  }
  
  .habanero-title {
    margin-top: 5%;
    margin-left: 28%;
  }
  
  .habanero-details {
    margin-left: 4%;
    margin-top: 7%; 
  }

  .habanero-github {
    margin-left: 85%;
    margin-top: 0%;
    font-size: 37px;
  }

  .hab-site {
    font-size: 37px;
    margin-top: 2%;
    margin-left: 50%;
    color: #FFD000;
  }
}

@media only screen and (min-device-width: 540px) {
  .habanero-img {
    grid-column: 6 / span 8;
  }
  
  .habanero-detail-img {
    height: 30vw;
    width: 30vw;
  }
  
  .habanero-text-container {
    width: 65vw;
    height: 62vw;
    margin-top: 47%;
    margin-left: 0%;
    grid-column: 3 / -1;
  }
  
  .habanero-title {
    margin-top: 5%;
    margin-left: 5%;
  }
  
  .habanero-details {
    margin-left: 4%;
    margin-top: 7%; 
  }

  .habanero-github {
    margin-top: 2%;
    font-size: 45px;
  }

  .hab-site {
    font-size: 45px;
    margin-top: 4%;
  }
}

@media only screen and (min-device-width: 768px) {
  .habanero-img {
    grid-column: 3 / span 8;
    margin-top: 40%;
    margin-left: 0%;
  }
  
  @keyframes spin {
    from{
    transform: rotateY(0deg);
    moz-transform: rotateY(0deg);
    ms-transform: rotateY(0deg); 
    }
    to{
    transform: rotateY(360deg);
    moz-transform: rotateY(360deg); 
    ms-transform: rotateY(360deg); 
    }
   }
   @-webkit-keyframes spin{
    from{-webkit-transform: rotateY(0deg);}
    to{-webkit-transform: rotateY(360deg);}
   }

  .habanero-detail-img {
    height: 25vw ;
    width: 25vw;
    margin-top: 45%;
    margin-left: 10%;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    -webkit-animation-name: spin;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
  }
  
  .habanero-text-container {
    width: 48vw;
    height: 52vw;
    margin-top: 40%;
    margin-left: 20%;
    grid-column: 3 / -1;
  }
  
  .habanero-title {
    margin-top: 5%;
    margin-left: 35%;
  }
  
  .habanero-details {
    margin-left: 18%;
    margin-top: 7%; 
  }
  
  .habanero-btn-container {
    margin-top: 10%;
  }

  .hab-site {
    margin-left: 65%;
  }

}

 @media only screen and (min-device-width: 1024px) {
  .habanero-img {
    margin-top: 5%;
  }
  
  .habanero-detail-img {
    height: 22vw ;
    width: 22vw;
    margin-top: 48%;
    margin-left: 5%;
  }
  
  .habanero-text-container {
    height: 37vw;
    margin-top: 15%;
    margin-left: 15%;
    grid-column: 3 / -1;
  }
  
  .habanero-title {
    margin-left: 40%;
  }
  
  .habanero-details {
    margin-left: 18%;
  }
  
  .habanero-btn-container {
    margin-top: 8%;
  }

  .habanero-github {
    margin-top: 0%;
    font-size: 45px;
  }

  .hab-site {
    font-size: 45px;
    margin-top: 2%;
    margin-left: 75%;
  }

}

@media only screen and (min-width: 1224px) {
  .habanero-img {
    margin-top: 5%;
  }
  
  .habanero-detail-img {
    height: 22vw ;
    width: 22vw;
    margin-left: 5%;
    margin-top: 20%;
  }
  
  .habanero-text-container {
    width: 52vw;
    height: 27vw;
    margin-top: 12%;
  }
  
  .habanero-title {
    margin-left: 30%;
  }
  
  .habanero-details {
    margin-left: 18%;
  }
  
  .habanero-btn-container {
    margin-top: 8%;
  }

  .habanero-site {
    grid-column: 2 / span 8;
  }

  .habanero-github {
    font-size: 47px;
  }

  .hab-site {
    font-size: 47px;
    margin-top: 1%;
  }
}

@media only screen and (min-width: 1440px) {
  .habanero-detail-img {
    height: 20vw;
    width: 20vw;
    margin-left: 15%;
  }
  
  .habanero-text-container {
    width: 52vw;
    height: 25vw;
    margin-top: 12%;
  }
  
  .habanero-title {
    margin-left: 35%;
  }
  
  .habanero-details {
    margin-left: 18%;
  }
  
  .habanero-btn-container {
    margin-top: 8%;
  }

  .habanero-site {
    grid-column: 3 / span 8;
  }

  .habanero-github {
    font-size: 52px;
  }

  .hab-site {
    font-size: 52px;
    margin-top: 1%;
    margin-left: 60%;
  }
}