/* body {
  background-color: blueviolet;
} */

.home-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* position: relative; */
}



/* .main-image {
 grid-column: 2 / 2;
 grid-row: 1;
} */

.home-img {
  height: 38vw ;
  width: 67vw;
  margin-top: 12%;
  margin-left: 19%;
  
}



.home-socials {
  position: absolute;
  z-index: 20;
  top: calc(45vh - 82px);
  right: 75px;
  color: currentColor;
}

.home-socials ul, .home-socials li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.home-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: .78rem;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}


ul {
  list-style: none;
  text-align: left;
}

.list-links {
  font-size: 2.0em;
  position: relative;
  transition: all 0.5s ease-in-out;
}

li:hover::before {
  content: "\2022";
  position: absolute;
  top: 0px;
  left: -19px;
  width: 70px;
  height: 70px;
  border-radius: 30%;
}

.home-text {
  margin-top: 65vh;
  width: 280px;
  position: relative;
  grid-column: 2 / span 5;
  grid-row: 1; 
  margin-top: 65%; 
  z-index: 1; 
  margin-left: 94%;
}

.h-text{
  font-size: 1.7em;
  font-family: "COM4t Fine Regular", sans-serif;
  font-weight: medium;
}

.h-t2 {
  margin:0;
  padding-top: 5px;
  
}



@media only screen and (max-width: 768px) {

  body {
    overflow-x: hidden !important; 
}


.home-img {
  margin-left: 25%;
  height: 37vw ;
  width: 67vw;
  margin-top: 27%;
}


 .home-text {
  margin-top: 67%;
  margin-left: 88%;
}

.h-text{
  font-size: 3vw;
}

.home-socials {
  display: block;
}

.home-socials {
position: absolute;
z-index: 20;
top: calc(33vh - 82px);
right: 10px;
color: currentColor;
display: none;
} 

}
