/* 
.heroes-villains{
  height: 15vw ;
  width: 18vw;
  margin-top: 12%;
  border: 2px solid white;
  margin-left: 35%;
}

@-webkit-keyframes heroes-villains {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes heroes-villains {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.heroes-villains:hover
{
  -webkit-animation: heroes-villains 1s ease;
  animation: heroes-villains 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.everywhen {
  height: 15vw ;
  width: 18vw;
  margin-top: 12%;
  border: 2px solid white;
  margin-left: 5%;
}

@-webkit-keyframes everywhen {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes everywhen {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.everywhen:hover
{
  -webkit-animation: everywhen 1s ease;
  animation: everywhen 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.habanero {
  height: 15vw ;
  width: 18vw;
  margin-top: 5%;
  border: 2px solid white;
  margin-left: 35%;
}

@-webkit-keyframes habanero {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes habanero {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.habanero:hover
{
  -webkit-animation: habanero 1s ease;
  animation: habanero 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.in-sequence {
  height: 15vw ;
  width: 18vw;
  margin-top: 5%;
  border: 2px solid white;
  margin-left: 5%;
}


@-webkit-keyframes in-sequence {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes in-sequence {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.in-sequence:hover
{
  -webkit-animation: in-sequence 1s ease;
  animation: in-sequence 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;

}

.projects-circle {
  grid-column: 1 / span 8;
  grid-row: 1; 
  padding-top: 15%; 
  z-index: 1;
  width: 240px;
}

.projects-imgs {
  grid-column: 4 / -1;
  grid-row: 1;
} */
