.projects-title {
  color: black;
  text-decoration: bold;
  text-transform: uppercase;
  margin-left: 46vw;
  margin-bottom: 8%;
  text-decoration: underline;
  font-family: 'Cinzel', serif;
  font-size: 2vw;
}

.project-left {
  text-align: left;
}

.project-img-e {
  width: 300px;
  height: 200px;
  margin-left: 7%;
  float: left; 
  margin-right: 3%;
}

.everywhen-img {
  width: 300px;
  height: 200px;
  border-radius: 6px;
}


.project-text-e {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 700px;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  font-size: 1.1vw;
}


.project-right {
  text-align: right;
  margin-top: 5%;
}

.project-img-i {
  width: 300px;
  height: 200px;
  margin-right: 7%;
  float: right;
  margin-left: 3%;
}

.insequence-img {
  width: 300px;
  height: 200px;
  border-radius: 6px;
}

.project-text-i {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 700px;
  float: right;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  font-size: 1.1vw;
}

.project-name {
  text-decoration: bold;
  text-transform: uppercase;
  margin-bottom: 2%;
  margin-top: 5%;
  font-family: 'Cinzel', serif;
  font-size: 1.5vw;
}


.project-img-hv {
  width: 300px;
  height: 200px;
  margin-left: 7%;
  float: left; 
  margin-right: 3%;
}

.heroes-img {
  width: 300px;
  height: 200px;
  border-radius: 6px;
}

.project-text-hv {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 700px;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  font-size: 1.1vw;
}

.project-links {
  display: flex;
  
}

.fas.fa-eye {
  margin: 20px 36px;
  font-size: 1.7vw;
}

.fab.fa-github {
  margin: 20px 36px;
  font-size: 1.7vw;
}

.project-hv {
  text-align: left;
  margin-top: 25%;
  margin-bottom: 20%;

}


@media only screen and (min-width: 280px) {
.projects-container {
  margin-left: 12vw;
}

  .project-img-e {
    width: 180px;
    height: 120px;
  }
  
  .everywhen-img {
    width: 180px;
    height: 120px;
  
  }
  
  
  .project-text-e {
    margin-left: 7%;
    height: 100px;
    width: 290px;
    font-size: 2.2vw;
    margin-bottom: 11%;
  }

  .project-name {
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 2.8vw;
  }

  .projects-title {
    font-size: 3.2vw;
    margin-left: 42vw;
  }

  .fas.fa-eye {
    margin: 20px 4px;
    font-size: 2.8vw;
  }
  
  .fab.fa-github {
    margin: 20px 36px;
    font-size: 2.8vw;
  }


  .project-img-i {
    width: 180px;
    height: 120px;
    margin-right: 0%;
  }
  
  .insequence-img {
    width: 180px;
    height: 120px;
  
  }
  
  .project-text-i {
    margin-right: 0%;
    height: 100px;
    width: 290px;
    font-size: 2.2vw;
    margin-bottom: 15%;
  }

  .project-img-hv {
    width: 180px;
    height: 120px;
  }
  
  .heroes-img {
    width: 180px;
    height: 120px;
  
  }
  
  .project-text-hv {
    margin-left: 7%;
    height: 100px;
    width: 290px;
    font-size: 2.2vw;
    margin-bottom: 15%;
  }

}

/* @media only screen and (min-width: 414px) and (max-width: 736px) {
  .projects-container {
    margin-right: 5vw;
  }
} */

@media (min-width: 768px)  and  (max-width: 1780px) {
  .project-img-e {
    width: 300px;
    height: 200px;
  }
  
  .everywhen-img {
    width: 300px;
    height: 200px;
  
  }
  
  .project-text-e {
    width: 50vw;
    height: 10vh;
    font-size: 1.1vw;
    margin-bottom: 12%;
  }

  .project-name {
    font-size: 1.5vw;
    margin-top: 10%;
  }

  .projects-title {
    font-size: 2vw;
    margin-left: 46vw;
  }

  .fas.fa-eye {
    font-size: 1.6vw;
  }
  
  .fab.fa-github {
    font-size: 1.6vw;
  }


  .project-img-i {
    width: 300px;
    height: 200px;
  }
  
  .insequence-img {
    width: 300px;
    height: 200px;
  
  }
  
  .project-text-i {
    margin-right: 0%;
    width: 50vw;
    height: 10vh;
    font-size: 1.1vw;
  }

  .project-img-hv {
    width: 300px;
    height: 200px;
  }
  
  .heroes-img {
    width: 300px;
    height: 200px;
  
  }
  
  .project-text-hv {
    width: 50vw;
    height: 10vh;
    font-size: 1.1vw;
  }

}


